@import "reset.css";
.l {
  float: left;
}
.r {
  float: right;
}
.m {
  margin: 0 auto;
}
.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.box .header {
  position: absolute;
  width: 100%;
  height: 44px;
  background: #323333;
  border-bottom: 1px #4d3faa solid;
  line-height: 44px;
}
.box .header .dao {
  float: left;
  width: 22px;
  height: 21px;
  background-position: 0 0;
  position: absolute;
  left: 30px;
  top: 10px;
}
.box .header .dao:hover {
  background-position: -50px 0;
}
.box .header .more {
  float: right;
  position: absolute;
  right: 33px;
  top: 10px;
}
.box .header .more a {
  float: right;
  margin-left: 40px;
}
.box .header .more .sou:hover {
  background-position: -50px -100px;
}
.box .header .more .dai:hover {
  background-position: -150px -101px;
}
.box .header .more .sou {
  width: 22px;
  height: 22px;
  background-position: 0px -100px;
}
.box .header .more .dai {
  width: 24px;
  height: 23px;
  background-position: -100px -101px;
}
.box .header h1 {
  position: absolute;
  left: 50%;
  font-size: 16px;
  line-height: 44px;
  color: #FFF;
  transform: translate(-60px 0);
}
.box .header a {
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
.box ul {
  width: 135px;
  height: 328px;
  background: #1c2427;
  position: absolute;
  left: 0;
  z-index: 999999999;
  top: 42px;
  display: none;
}
.box ul li {
  font-size: 18px;
  text-align: center;
  height: 41px;
  line-height: 41px;
}
.box ul li a {
  color: #fff;
}
.box ul li:hover {
  background: #374950;
}
.box ul li:hover a {
  color: red;
}
.box .main {
  margin-top: 45px;
}
.box .main ul {
  width: 100%;
  height: 55px;
  border-bottom: 3px #a5aaaa solid;
}
.box .main ul li {
  width: 20%;
  float: left;
  height: 53px;
  line-height: 53px;
  font-size: 16px;
  color: #323333;
}
.box .main ul li a {
  font-weight: bold;
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
}
.box .main ul li a:hover {
  color: #fae90b;
  border-bottom: 6px #323333 solid;
}
.box .main dl {
  float: left;
  width: 25%;
  margin: 0 auto;
}
.box .main dl dt:hover img {
  cursor: pointer;
  background: #222222;
}
.box .main .xinbox {
  margin-top: 12px;
}
.box .main .xinbox .aa {
  float: left;
}
.box .main .xinbox div {
  text-align: center;
  float: left;
}
